@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Dosis';



a
{
    color: rgb(212, 86, 81);
    text-decoration: none;
    transition: color 0.25s;
}
a:hover
{
    color: #FFCC5C;
}

body
{
    /* structure */
    margin: 0 auto;
    min-height: 100%;
    width: 100%;

    /* presentation */
    font-family: 'Open Sans', sans-serif;
}

html
{
    /* structure */
    height: 100%;

    /* presentation */
    background: url('../images/fond2.jpg') repeat;
}

.logotitre
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header
{
    /* structure */
    height: 100px;
 
    /* presentation */
    background-color: rgb(144, 207, 176);

}

.logo
{
    width: 10%;
    height: auto;
    margin-left: 40%;
  
}

.namesite
{
    color: rgb(8, 8, 8);
    font-family: 'dosis', sans-serif;
}

.navindex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(182, 253, 229);
}

.indexbody
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.order-form-customer
{
    /* structure */
    padding: 1em 0;

    /* presentation */
    text-align: right;
}


.standard-table
{
    border-collapse: collapse;
    width: 100%;
}
.standard-table caption
{
    /* structure */
    padding: 0.5em 0;

    /* presentation */
    font-size: 1.5em;
    font-weight: bold;
}
.standard-table tbody tr
{
    transition: background-color 0.25s;
}
.standard-table tbody tr:nth-child(even),
.standard-table tfoot tr:nth-child(even)
{
    background-color: rgb(246, 248, 244);
}
.standard-table tbody tr:nth-child(odd),
.standard-table tfoot tr:nth-child(odd)
{
    background-color: rgb(210, 214, 206);
}
.standard-table tbody tr:hover
{
    background-color: #a7a7a7;
    cursor: default;
}
.standard-table td,
.standard-table th
{
    padding: 0.25em 0.5em;
}
.standard-table th
{
    color: #00968B;
}
.standard-table tfoot tr,
.standard-table thead tr
{
    text-align: left;
}
.standard-table tfoot tr,
.standard-table .money-column
{
    text-align: right;
}

.blogfooter
{
    background-color:  rgb(144, 207, 176);
    text-align: center;
}

.logofooter
{
    width: 5%;
    height: auto;
}

.titrefooter
{
    font-size: 20px;
    padding-top: 5Px;
}